<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="app.css" />

    <title>Countries of the World</title>
</head>
<body>
<header>
    <div class="container">
        <h1><a href="index.html">Countries of the World</a></h1>
    </div>
</header>
<div class="container">
    <div class="country">
        <a href="urugay.html">
            <img src="flags/uruguay.png" alt="Flag of Uruguay"/>
            <h4>Uruguay</h4>
        </a>
    </div>
    <div class="country">
        <a href="cameroon.html">
            <img src="flags/cameroon.png" alt="Flag of Cameroon"/>
            <h4>Cameroon</h4>
        </a>
    </div>
    <div class="country">
        <a href="brazil.html">
            <img src="flags/brazil.png" alt="Flag of Brazil"/>
            <h4>Brazil</h4>
        </a>
    </div>
    <div class="country">
        <a href="mexico.html">
            <img src="flags/mexico.png" alt="Flag of Mexico"/>
            <h4>Mexico</h4>
        </a>
    </div>
    <div class="country">
        <a href="hungary.html">
            <img src="flags/hungary.png" alt="Flag of Hungary"/>
            <h4>Hungary</h4>
        </a>
    </div>
</div>
</body>
</html>